<header class="wrapper">
    <div class="main">
        <a href="https://www.parliament.uk/" target="_blank">
            <img class="logo" src="/assets/logo.svg" alt="UK Parliament logo" />
        </a>
        <div class="item">
            <app-navigation></app-navigation>
        </div>
    </div>

    <div class="title">
        <button type="button" (click)="toMainPage()">
            <i class="bx bxs-user-badge"></i>
            <h1>HR Management System</h1>
        </button>
    </div>
</header>
